<!DOCTYPE html>
<html ng-app="scProto">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/components/angular/angular.min.js"></script>
    <script src="/javascripts/app/app.js"></script>
  </head>
  <body>
    <h1>Welcome to <%= title %></h1>
    <h2>Fundraiser listing:</h2>
    <div ng-controller="ScListingController" ng-cloak>

      <div class="fundraiser-item" ng-repeat="fundraiser in fundraisers">
        <div style="float: left; padding-right: 10px;">
          <img src="{{fundraiser.member_image_large}}" />
        </div>
        <a href="{{fundraiser.fundraiser_url}}" title="Go to Fundraiser">
          <h2>{{fundraiser.page_title}}</h2>
          <h3>{{fundraiser.event_name}}</h3>
        </a>
        <p>{{fundraiser.total_raised | currency}} raised {{fundraiser.goal | percent:fundraiser.total_raised}}</p>
        <span>Created By: <strong>{{fundraiser.first_name}} {{fundraiser.last_name}}</strong></span>
        <br>
        <a href="{{fundraiser.donation_url}}">DONATE!</a>
      </div>

    </div>
  </body>
</html>
